@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    IPublishedContent root = Model.Root();
}
    <footer class="mastfoot my-3">
        <div class="inner container">
            <div class="row">
                <div class="col-lg-4 col-md-12 d-flex align-items-center"></div>
                <div class="col-lg-4 col-md-12 d-flex align-items-center">
                    <p class="mx-auto text-center mb-0">@root.Value("companyName") | @root.Value("companyAddress") <br /> @root.Value("companyPhone") </p>
                </div>
                <div class="col-lg-4 col-md-12">
                    <nav class="nav nav-mastfoot justify-content-center">
                        <a class="nav-link footer-icon" href="https://twitter.com/umbraco">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="nav-link footer-icon" href="https://www.instagram.com/umbraco">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="nav-link footer-icon" href="https://www.linkedin.com/company/umbraco">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a class="nav-link footer-icon" href="https://www.youtube.com/c/UmbracoHQ">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>