@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridTextPage>
@{
    Layout = "BasicNav.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/css/blockGridLayout.css")" />
<section id="single-content" class="bg-white">
    <div class="container">
        <div class="section-content blog-content">
            <div class="row">
                <div class="col-md-12 spacedgrid">
                    @await Html.GetBlockGridHtmlAsync(Model, "bodyText")
                </div>
            </div>
        </div>
    </div>
</section>
