@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Wiki>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "BasicNav.cshtml";
}
<section id="single-content" class="bg-white">
    <div class="container">
        <div class="section-content">
            <div class="row align-items-center ">
                <div class="col-md-2 mt-2 align-self-start">
                    <ul class="side-nav">
                        @await Umbraco.RenderMacroAsync("Breadcrumb")
                        @await Html.PartialAsync("SideNav")
                    </ul>
                </div>
                <div class="col-md-6 mt-4 align-self-start offset-md-1">
                    @Model.BodyText
                </div>
                <div class="col-md-3 mt-4 align-self-start">
                    @if (Model.Images != null)
                    {
                        foreach (var image in Model.Images)
                        {
                            <figure>
                                <a href="@image.Url()" data-rel="lightcase"><img src="@image.Url()?width=400" alt="" /></a>
                            </figure>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>