.github-username{
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.65);
    -moz-box-shadow:    3px 3px 12px 0px rgba(50, 50, 50, 0.65);
    box-shadow:         3px 3px 12px 0px rgba(50, 50, 50, 0.65);
    text-align: center;
    margin-right: 10px;
}

.github-username img{
    margin: auto;
    border: 3px solid #efefef;
    height: 170px;
    width: 170px;
    padding: 3px;
    background:  #f2f2f2
}

.github-usernamer img.selected{
    border-color: #0080ff
}

.github-username input{
    border: none;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}